#formLogin {
	padding: 5px;
}

#formLogin input {
	padding: 8px;
	margin-bottom: 15px;
}

span.signin {
	background-color: #3a3a3a;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#56565a),to(#3a3a3a));
	background-image: -moz-linear-gradient(#56565a,#3a3a3a);
	background-image: -ms-linear-gradient(#56565a,#3a3a3a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#56565a),color-stop(100%,#3a3a3a));
	background-image: -webkit-linear-gradient(#56565a,#3a3a3a);
	background-image: -o-linear-gradient(#56565a,#3a3a3a);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#56565a',endColorstr='#3a3a3a',GradientType=0)";
	background-image: linear-gradient(#56565a,#3a3a3a);
	text-shadow: 0 1.5px 1px rgba(0,0,0,0.35);
	-webkit-font-smoothing: antialiased;
}
span.icon {
	padding-left: 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	background-clip: padding-box;
	background-color: #287cc2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#43a6e2),to(#287cc2));
	background-image: -moz-linear-gradient(#43a6e2,#287cc2);
	background-image: -ms-linear-gradient(#43a6e2,#287cc2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#43a6e2),color-stop(100%,#287cc2));
	background-image: -webkit-linear-gradient(#43a6e2,#287cc2);
	background-image: -o-linear-gradient(#43a6e2,#287cc2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2',endColorstr='#287cc2',GradientType=0)";
	background-image: linear-gradient(#43a6e2,#287cc2);
}

span.icon img {
	position: relative;
	top: -1px;
	right: 4px;
	left: 0.5;
	width: 13px;
	height: 13px;
}

#nav-login {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-clip: padding-box;
	padding-right: 5px;
	overflow: hidden;
}

#nav-login span {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 24px;
	color: white;
	font-weight: bold;
	padding: 0 10px 0 20px;
	position: relative;
}

.login-menu {
	padding: 15px; 
	padding-bottom: 0px;
	width: 210px;
}

.login-label {
	text-align: center;
}

.login-check {
	float: left; 
	margin-right: 10px;
}
.img-logo {
	max-width: 36px;
	height: auto;
}

.navbar-brand {
	padding: 6px;
}

.cover {
	background: url('../img/cover.jpg');
	height: 440px;
	background-size: 100% 440px;
}

.cover-content {
	background: #222222;
	z-index: 1;
	position: relative;
	float: left;
	color: #fff;
	margin-top: 15%;
	margin-left: 10%;
	-webkit-box-shadow: 1px #222222;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    1px #222222;  /* Firefox 3.5 - 3.6 */
	box-shadow:         1px #222222; 
}

.content-container {
	font-size: 130%;
	max-width: 400px;
}

.content-wrapper {
	padding: 18px;
}

.section-wrapper {
	width: 100%;
	padding: 20px 100px;
	padding-top: 5%;
	padding-bottom: 5%;
}
.section-content {
	max-width: 720px;
}

.content-right {
	margin-left: 50%;
}

.content-left {
	margin-right: 50%;
}

.section-content p {
	font-size: 140%;
}

.section-content li {
	font-size: 140%;
}

.section-content h1 {
	margin-bottom: 24px;
}

.content-image {
	float: left;
	margin-right: 20px;
}

.content-image img {
	max-width: 400px;
	height: auto;
}

/* for 200px image */
.img-expand {
	margin-top: 30%;
	margin-left: 20%;
}

.bg-alternate {
	background: #f6f6f6;
}
.page-wrapper {
	width: 100%;
	padding: 20px 100px;
}

.page-content h1 {
	margin-bottom: 30px;
}

.img-right {
	position: absolute;
	margin-left: 60%;
}

.users-online {
	width: 20%;
	background: #f6f6f6;
	float: left;
	margin-right: 30px;
	min-height: 420px;
}

.userlist li{
	list-style-type: none;
	padding: 20px;
	font-size: 130%;
}

.user-me {
	font-weight: bold;
}

.textbox-message {
	padding: 25px;
	font-size: 120%;
}

.messages {
	margin-left: 25%;
}
.messages li {
	list-style-type: none;
	padding: 20px;
	font-size: 150%;
}
.chat-room {
	width: 80%;
}
.chat-room-container {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	width: 100%;
}
.chat-username {
	color: #d88322;
}
.chat-user-add {
	text-align: center;
	font-size: 110% !important;
}

.chat-user-join {
	color: #24d83c;
}
.chat-my-username {
	color: #428bca;
}

.table thead tr td {
	font-weight: bold;
}

.controls {
	font-size: 200%;
}

/* footer */
.footer {
	background: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-icons li {
	list-style-type: none;
	padding: 10px;
	float: left;
	height: 32px;
	width: 32px;
	margin-right: 15px;
}

.facebook {
	background: url('../img/social/facebook.png');
	background-size: 32px 32px;
}

.twitter {
	background: url('../img/social/twitter.png');
	background-size: 32px 32px;
}
.youtube {
	background: url('../img/social/youtube.png');
	background-size: 32px 32px;
}

.github {
	background: url('../img/social/github.png');
	background-size: 32px 32px;
}

/* responsive styling */
@media (max-width: 767px) {
	.navbar-header {
	  padding-left: 15px;
	  padding-right: 15px;
	}
}